<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>考生列表</title>
		<script type="text/javascript" th:inline="javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});

			//添加单个考生
			$(document).ready(function(){
			  $("#addOneBtn").click(function(){
				 $.ajax({
					 type: "POST",
					 url: "/examAddStudent/addOne/"+$("#examId").val()+"/"+$("#stuNumber").val(),
					 //contentType: 'application/x-www-form-urlencoded;charset=utf-8',
					 //data: {examId:$("#examId").val(), stuNumber:$("#stuNumber").val()},
					 dataType: "json",
					 success: function(data){
								if(data=="1"){
									layer.msg('添加成功!', {
									  icon: 1,
									  time: 1000 //2秒关闭（如果不配置，默认是3秒）
									}, function(){
										 window.location.href = "/examAddStudent/list/"+[[${examId}]];
									});

								}else if(data=="0"){
									layer.msg('添加失败!', {
									  icon: 5,
									  time: 1000 //2秒关闭（如果不配置，默认是3秒）
									}, function(){
										 window.location.href = "/examAddStudent/list/"+[[${examId}]];
									});
								}
							  },
					 error:function(e){

					 }
				 });
			  });
			});



			//用中文分号替换英文分号、中英文逗号或者回车
			function ReplaceSeperator(mobiles) {
				var i;
				var result = "";
				var c;
				for (i = 0; i < mobiles.length; i++) {
					c = mobiles.substr(i, 1);
					if (c == ";" || c == "," || c == "，" || c == "\n")
						result = result + "；";
					else if (c != "\r")
						result = result + c;
				}
				return result;
			}



			//批量添加考生
			$(document).ready(function(){
			  $("#addListBtn").click(function(){
			    //获取批量学号
			  	var txt = $("#txtAreaNumber").val();
			  	//将回车符换成;
			  	var txt2 = ReplaceSeperator(txt);
				 $.ajax({
					 type: "POST",
					 url: "/examAddStudent/addListStu/"+txt2+"/"+$("#examId").val(),
					 //contentType: 'application/x-www-form-urlencoded;charset=utf-8',
					 //data: {examId:$("#examId").val(), stuNumber:$("#stuNumber").val()},
					 dataType: "json",
					 success: function(data){
								if(data=="1"){
									layer.msg('添加成功!', {
									  icon: 1,
									  time: 1000 //2秒关闭（如果不配置，默认是3秒）
									}, function(){
										 window.location.href = "/examAddStudent/list/"+[[${examId}]];
									});

								}else if(data=="0"){
									layer.msg('添加失败!', {
									  icon: 5,
									  time: 1000 //2秒关闭（如果不配置，默认是3秒）
									}, function(){
										 window.location.href = "/examAddStudent/list/"+[[${examId}]];
									});
								}
							  },
					 error:function(e){
								 console.log(e);
					 }
				 });
			  });
			});

			//清空所有考生
			$(document).ready(function(){
			  $("#deteleAllStuBtn").click(function(){
			  	layer.confirm('确定清空所有考生吗？', {
					  btn: ['清空','取消'] //按钮
					}, function(){
						 $.ajax({
							 type: "POST",
							 url: "/examAddStudent/deleteAll/"+$("#examId").val(),
							 //contentType: 'application/x-www-form-urlencoded;charset=utf-8',
							 //data: {examId:$("#examId").val(), stuNumber:$("#stuNumber").val()},
							 dataType: "json",
							 success: function(data){
								if(data=="1"){
									layer.msg('清空成功!', {
									  icon: 1,
									  time: 1000 //2秒关闭（如果不配置，默认是3秒）
									}, function(){
										 window.location.href = "/examAddStudent/list/"+[[${examId}]];
									});
								}else if(data=="0"){
									layer.msg('清除失败!', {
									  icon: 5,
									  time: 1000 //2秒关闭（如果不配置，默认是3秒）
									}, function(){
										 window.location.href = "/examAddStudent/list/"+[[${examId}]];
									});
								}
							 }
						 });
					}, function(){

					}
				);


			  });
			});
		</script>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">

		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;考生列表（共<span th:text="${datas.getTotalElements()}"></span>位考生）</h3>
			<div th:replace="examAddStudent/nav :: content" th:remove="tag"></div>
		</div>

			<div class="table-responsive">

				<table class="table table-hover">

					<tr class="success">

						<th>考试名称</th>

						<th>监考老师</th>

						<th>考试地点</th>

						<th>开始时间</th>

						<th>结束时间</th>

					</tr>

					<tr>
						<td th:text="${examInfo.examName}"></td>

						<td th:text="${examInfo.examTeacher}"></td>

						<td th:text="${examInfo.examRoomName}"></td>

						<td th:text="${examInfo.startDate}"></td>

						<td th:text="${examInfo.endDate}"></td>
					</tr>

				</table>


		<div class="table-responsive">

			<table class="table table-hover">
				<thead>
					<tr class="info">

						<th>姓名</th>

						<th>学号</th>

						<th>性别</th>

						<th>身份证号</th>

						<th>所在学院</th>

						<th>班级</th>

						<th>操作</th>

					</tr>
				</thead>
				<tr th:each="obj : ${datas}">

					<td th:text="${obj.personName}"></td>

					<td th:text="${obj.stuNumber}"></td>

					<td th:text="${obj.gender==1?'男':'女'}"></td>

					<td th:text="${obj.idCard}"></td>

					<td th:switch="${obj.college}">
						<span th:case="1">经济管理学院</span>
						<span th:case="2">畜牧兽医学院</span>
						<span th:case="3">园林园艺学院</span>
						<span th:case="4">工程学院</span>
						<span th:case="5">农学与生物技术学院</span>
					</td>

					<td th:text="${obj.classesName}"></td>

					<td>
						<div class="action-buttons">
							<!--<a style="text-decoration:none"  class="green auth1" sn="ExamPersonController.update" title="修改" th:href="'/examPerson/update/'+${obj.id}">
								<button type="button" class="btn btn-default">修改</button>
							</a>-->

							<a class="delete-obj-href red auth1" sn="ExamAddStudentController.delete" th:title="'此操作不可逆，确定删除吗？'" th:href="'/examAddStudent/delete/'+${obj.id}">
								<button type="button" class="btn btn-default">删除</button>
							</a>
						</div>
					</td>
				</tr>

			</table>

			<!-- 添加单个考生模态框（Modal） -->
			<div class="modal fade" id="addOneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="addOneModalLabel">
								单个考生添加
							</h4>
						</div>
						<div class="modal-body">

							<form  th:action="@{'/examAddStudent/addOne/'+${examId}+'/'+${stuNumber}}" method="POST" id="addOneForm">
							<!--<form  th:action="@{/examAddStudent/addOne(examId=${examId},stuNumber=stuNumber)}" method="POST" id="addOneForm">-->
								<div class="form-group form-group-lg">
									<div class="input-group">
										<div class="input-group-addon">学号：</div>
										<input id="stuNumber" name="stuNumber" type="text" class="form-control"  placeholder="请输入学号" />
										<input id="examId" name="examId" type="hidden" class="form-control" th:value="${examId}"/>
									</div>
								</div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button id="addOneBtn" type="button" class="btn btn-primary">
                                        提交
                                    </button>
                                </div>
							</form>
						</div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>

			<!-- 批量添加考生模态框（Modal） -->
			<div class="modal fade" id="addLisiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="addLisiModalLabel">
								批量添加考生(每行一个学号)
							</h4>
						</div>
						<div class="modal-body">
							<form  th:action="@{'/examAddStudent/addOne/'+${examId}}" method="POST" id="addListForm">
								<div class="form-group form-group-lg">
									<div class="input-group">
										<div class="input-group-addon">学号：</div>
										<textarea id="txtAreaNumber" class="form-control" rows="8" name=textarea placeholder="每行一个学号，回车进行换行"></textarea>
										<input id="examId2" name="examId" type="hidden" class="form-control" th:value="${examId}"/>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭
									</button>
									<button id="addListBtn"  type="button" class="btn btn-primary">提交</button>
								</div>
							</form>
						</div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>


			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
		</div>
	</body>
</html>
